#card {
  width: 1000px;
  height: 200px;
  margin: 50px;
  display: flex;
}

#card:hover {
  cursor: pointer;
  box-shadow: 0 0 1px black;
}

#newsImage {
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px;
  margin-right: 10px;
  border-radius: 8px;
}
